.post-cards {
    width: 99%;
    margin: auto;
    margin-top: 1%;
    height: 123px;
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
    padding-right: 1%;
    cursor: pointer;
}

.PostTitle {
    margin-left: 1%;
    max-width: 80%;
    margin-top: 5%;
    color: black;
}

.Poster{
    margin-top: -3.5%;
    float: right;
    max-width: 15%;
}

.PostDate{
    float: right;
    margin-top: -0.5%;
}

.PostTags{
    margin-left: 2%;
}

.post-create {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 4fr 1fr;
    grid-gap: 10px;
    width: 88vw;
    margin: auto;
    margin-top: 1%;
    height: 40vh;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    padding-top: 0.00002%;
    padding: 12px;
}

.publish-section{
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 5fr 1fr;
}

.postContent {
    resize: none;
}

.titleBox{
    font-size: 26pt;
    margin-left:15px;
}