.post-cards {
    width: 98%;
    margin: auto;
    margin-top: 1%;
    height: 123px;
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
    cursor: pointer;
    display: grid;
    padding: 5px;
    grid-template-columns: 4fr 1fr;
}

.PostTitle {
    /*background-color: red;*/
    max-width: 90%;
    margin-left: 5px;
    font-size: 40px;
    color: black;
}

.Poster{
    /*background-color: cornflowerblue;*/
}

.PostDate{
    /*background-color: orange;*/
    display: flex;
    align-self: flex-end;
}



.PostTags{
    /*background-color: rebeccapurple;*/
}