.tagUserList{
    list-style: none;
    width:70%;
    display: inline-block;
}

.userItem{
    align-items: center;
    padding-left: 0px;
}

.inputBox{
    display:inline-block;
    width: 60%;
    margin-top: 5px;
}

.addEmployee{
    display: inline-block;
    width:100%;
    background: #80C180;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    padding-bottom: 5px;
}

.invitePrompt{
    display: inline-block;
    width: 20%;
}