.displayUserBar{
    height: 40px;
    background: #80C180;
    margin-top: 8px;
    margin-bottom: 8px;

    border-radius: 5px;
    width: 100%;
    padding-top: 8px;
}

.first_name{
    width: 20%;
    float: left;
}

.last_name{
    display: inline-block;
    width: 20%;
}

.email{
    display: inline-block;
    width: 20%;
}

.user_id{
    display: inline-block;
    width: 20%;
}
