.original-post{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;

    width: 88vw;
    margin: auto;
    margin-top: 1%;
    height: 40vh;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    padding-top: 0.00002%;
    padding: 5px;
}

.postInfo{
    background-color: green;
    text-align: right;
}

.header{
    background-color: red;
}

.content{
    background-color: aqua;
}

.datetime{
    background-color: aquamarine;
    text-align: right;
    grid-row: 3/4;
    grid-column: 2/3;
}

.tagList{
    background-color: purple;
    grid-row: 3/4;
}


/*.createdDate{*/
/*    text-align: right;*/
/*}*/


.response-post{
    width: 78vw;
    margin: auto;
    margin-top: 1%;
    height: 15vh;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 4px;
    padding-top: 0.00002%;
    padding: 5px;
}

.responder{
    background-color: green;
    max-width: 15vw;
}