.original-post{
    width: 88vw;
    margin: auto;
    margin-top: 1%;
    height: 40vh;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    padding-top: 0.00002%;
    padding: 5px;
}

.postInfo{
    background-color: green;
    float: right;
    margin: 5px;
    text-align: right;
    max-width: 30vw;
}

.datetime{
    background-color: green;
    float: right;
    max-width: 15vw;
    width: 15vw;
    margin-right: 5px;
    margin-bottom: 50px;
    text-align: right;
}

.karma{
    margin-right: 80px;
    color: #80C180;
    margin-bottom: 30px;
}

.title{
    background-color: green;
    color: black;
    width: 70vw;
}

.text-content{
    font-size-adjust: 0.65;
}

.content{
    background-color: green;
    margin-top: 5vh;
    width: 70vw;
    max-width: 70vw;
    height: 20vh;
    max-height: 20vh;
}

.tags{
    /*background-color: green;*/
    max-width: 95vh;
    margin-top: 10px;
}

.response-post{
    width: 78vw;
    margin: auto;
    margin-top: 1%;
    height: 15vh;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 4px;
    padding-top: 0.00002%;
    padding: 5px;
}

.responder{
    background-color: green;
    max-width: 15vw;
}