.container {
    background-color: blue;
    width: 100%;
    margin: auto;

}   

.posts-container {
    width: 90%;
    margin: auto;
    margin-top: 10%;
    height: 753px;
    background-color: pink;
}
