.posts-container {
    width: 90%;
    margin: auto;
    margin-top: 1%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: #80C180;
    border-width: 8px;
    padding-top: 0.00002%;
    overflow-y: auto;
}
