.posts-container {
    width: 90%;
    margin: auto;
    margin-top: 1%;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color:   #40C181;
    border-width: 8px;
    padding-top: 0.00002%;
    overflow-y: auto;
}

ul {
    list-style-type: none;
    padding: 0;
  }

.ais-Hits-item {
  
}

.ais-SearchBox-input {
  background-color: aliceblue;
  width: 300px;
  border-width: 10px;
}

.ais-SearchBox-submit {
  display:none;
}

.ais-SearchBox-reset {
  display:none;
}

.no-results-msg {
  font-family: BlinkMacSystemFont;
  font-size: 30px;
  margin: 10% 30% 0;
}